
<div class="flexContent">

	
	<div class="homeItems">

		<div class="dashboard">
			<div class="dashComponent c-red">

				<h4 class="h4">Dashboard</h4>
				<ul class="dashList">
					<li>Total Games: <strong>{{totalGames}}</strong></li>
					<li>Quiz Highscore: <strong>{{highScore.name}}  {{highScore.score}}<small>pts.</small></strong></li>
					<li>Last Updated/Added Game: <strong>{{lastgame}}</strong></li>
				</ul>
				

				
			</div>
		</div>

		<div class="homeComponent bgGrayLightA">
			<a href="#/thelist"><img src="assets/graphics/mario.png" class="pull-left" alt=""></a><a href="#/thelist">The NES game list</a>
		</div>		

		<div class="homeComponent bgGrayMediumA">
				<a href="#/themosaic"><img src="assets/graphics/higgins.png" class="pull-left" alt=""></a>
				<a href="#/themosaic">The Mosaic</a>
		</div>

		<div class="homeComponent bgGrayDarkA">
			<a href="#/thequiz"><img src="assets/graphics/link.png" class="pull-left" alt=""></a>
					<a href="#/thequiz">The NES Quiz</a>
		</div>		

		<div class="homeComponent bgGrayDarkerA">
			<a href="#/thelist"><img src="assets/graphics/vicviper.png" class="pull-left" alt=""></a>
				<a href="#/thelist">The NES game list</a>
		</div>

	</div>
</div>


